main{
 background-color: cadetblue;
 height: 50vh;
 position: relative;
}
.img1{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.img2{
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 5;
}
.img3{
    position: absolute;
  top: 0;
  right: 0;
  bottom:0;
  left: 0;
    
}
.img4{
    position: absolute;
    top: 0;
    right: 0;
}
div{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:transparentize(yellow, .5,);
    z-index: 2;
}