<h2> My Heroes</h2>
<ul class="heroes">
    <li *ngFor=" let eachHero of heroes" [class.selected]="eachHero === selectedHero" (click)="onSelect(eachHero)">

    <span class="badge">{{ eachHero.id }}</span>{{ eachHero.name }}
    </li>
</ul>

<div *ngIf="selectedHero">
<h2>{{ selectedHero.name | uppercase }} Details</h2>
<div><span> id: </span> {{ selectedHero.id }}</div>
<div>
    <label>name:
        <input type="text" placeholder="name" [(ngModel)]="hero.name">
    </label>
</div>
</div>

<app-hero-detail [hero]="selectedHero" ></app-hero-detail>