<input type="text" class="form-control" [(ngModel)]="serverName">
<label>Server name</label>
<button class="button btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()"> add server</button>
<p *ngIf="serverCreated; else noServer">{{ serverCreationStatus }}</p>
<ng-template>
    <p #noServer>No server was created</p>
</ng-template>




<!-- <p>{{ serverName }}</p> -->

<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->



<app-server *ngFor="let server of servers"></app-server>

<!-- <p>string interpolation: {{ allowNewServer }}</p>
<p [innerText] ="allowNewServer"></p> -->