html{
    background-color: pink;
}
p{
    color: slateblue;
}
span{
    color: purple;
}
div{
    color:palevioletred;
}
div span{
 color:orange;
}
.banana{
    color:yellow;

.spoiled{ color:brown;

 }
}
#apple{
    color:palegreen;
}